/* Color Theme Swatches in Hex */
.ff6f61-Living-Coral-1-hex { color: #FF4F40; }
.ff6f61-Living-Coral-2-hex { color: #FF7061; }
.ff6f61-Living-Coral-3-hex { color: #FF998F; }
.ff6f61-Living-Coral-4-hex { color: #FFE6E3; }
.ff6f61-Living-Coral-5-hex { color: #FFF2F2; }

/* Color Theme Swatches in RGBA */
.ff6f61-Living-Coral-1-rgba { color: rgba(255, 79, 63, 1); }
.ff6f61-Living-Coral-2-rgba { color: rgba(255, 112, 96, 1); }
.ff6f61-Living-Coral-3-rgba { color: rgba(255, 153, 142, 1); }
.ff6f61-Living-Coral-4-rgba { color: rgba(255, 229, 226, 1); }
.ff6f61-Living-Coral-5-rgba { color: rgba(255, 242, 242, 1); }


/* Color Theme Swatches in Hex */
.Sparkling-drop-on-coral-feather,-blue-background.-Gentle-and-beautiful-macro.-artistic-image { color: #9BD1F2; }
.Sparkling-drop-on-coral-feather,-blue-background.-Gentle-and-beautiful-macro.-artistic-image { color: #27B9F2; }
.Sparkling-drop-on-coral-feather,-blue-background.-Gentle-and-beautiful-macro.-artistic-image { color: #F29985; }
.Sparkling-drop-on-coral-feather,-blue-background.-Gentle-and-beautiful-macro.-artistic-image { color: #591914; }
.Sparkling-drop-on-coral-feather,-blue-background.-Gentle-and-beautiful-macro.-artistic-image { color: #BF463B; }

/* Color Theme Swatches in RGBA */
.Sparkling-drop-on-coral-feather,-blue-background.-Gentle-and-beautiful-macro.-artistic-image { color: rgba(155, 208, 242, 1); }
.Sparkling-drop-on-coral-feather,-blue-background.-Gentle-and-beautiful-macro.-artistic-image { color: rgba(38, 184, 242, 1); }
.Sparkling-drop-on-coral-feather,-blue-background.-Gentle-and-beautiful-macro.-artistic-image { color: rgba(242, 153, 133, 1); }
.Sparkling-drop-on-coral-feather,-blue-background.-Gentle-and-beautiful-macro.-artistic-image { color: rgba(89, 25, 19, 1); }
.Sparkling-drop-on-coral-feather,-blue-background.-Gentle-and-beautiful-macro.-artistic-image { color: rgba(191, 70, 59, 1); }